.booking-list {
  width:100%;
}
.booking-list .booking-item {
  width:100%;
  padding-left: 70px;
  padding-right: 50px;
  position:relative;
  background: whitesmoke;
  display:inline-block;
  height: 70px;
  margin-bottom:4px;
}
.booking-list.history-list .booking-item {
  padding-right: 0;
}
.booking-item .booking-date-wrapper {
  position: absolute;
  width: 70px;
  left:0;
  top:0;
  text-align: center;
  border: 1px solid #293941;
  border-radius: 4px 0 0 4px;
}
.booking-date-wrapper > .booking-weekday {
  color: #293941;
  font-size: 14px;
  line-height: 18px;
}
.booking-weekday.reverse {
  background: #293941;
  color: whitesmoke;
}
.booking-date-wrapper > .booking-date, .booking-date-wrapper > .booking-month  {
  background: #293941;
  color: whitesmoke;
}
.booking-date.reverse, .booking-month.reverse  {
  color: #293941;
  background: none;
}
.booking-date-wrapper > .booking-date {
  font-size: 28px;
  line-height: 32px;
}
.booking-date-wrapper > .booking-month {
  font-size: 14px;
  line-height: 18px;
}
.booking-item > .booking-body {
  height:70px;
  border: 1px solid #dbdbdb;
  border-radius: 0 4px 4px 0;
  color: #293941;
  padding: 10px;
}
.booking-body .booking-subject {
}
.booking-body .booking-period {
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}
.booking-body .booking-remark {
  float:right;
  height: 70px;
  min-width: 60px;
  padding: 10px;
  display: inline-block;
}
.booking-action {
  position: absolute;
  right:0;
  top:0;
  height: 100%;
  width: 50px;
  display: inline-block;
}
.booking-action > .cancel-booking {
  width:100%;
  height:100%;
  border-radius: 0 4px 4px 0;
}
.booking-body .booking-seat {
  float:right;
  height: 70px;
  text-align: center;
  display: inline-block;
}
.booking-seat .booking-seat-label {
  font-size: 14px;
  line-height: 14px;
}

.booking-seat .booking-seat-number {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
}