body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.has-text-muted {
  color: #95A5A6;
}
.spacer {
  height:20px;
}
.nav-left .searchbox {
  margin-top: 10px;
}
.nav.is-default {
  background-color:#f5f5f5;
}
.icon-chevron {
  font-size: 12px;
}
.icon-item-type i {
  font-size:12px;
  padding:6px 15px 6px 6px;
  color:#bbbbbb;
}
.event-timeline hr {
  margin-top: 10px;
}
p.event-item {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #f1f1f1;
}
.button.is-light {
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    padding: 6px 12px;
    color: #69707a;
}
.highlight {
  color: #fe2057
}
.mute {
  color: #666666
}
.indent {
  padding-left: 10px;
}

h1 {
  font-family: 'sukhumvit';
}

.section {
  padding: 3rem 0;
}

html {
  height: 100%;
}

body {
  margin:0;
	padding:0;
	height:100%;
}

.title:not(:last-child), .subtitle:not(:last-child) {
  margin-top: 1rem;
}