/* change font-family in all input hack sheet */
input,
select,
textarea {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.sukhumvit-font {
  font-family: "sukhumvit";
}

.field-label{
  margin-top: 8px;
  margin-bottom: 4px;
}

/* hack font size of all panel-header */
.panel-heading {
  font-size: 1em;
  border-radius: 0px;
}

.panel-block.is-active {
  border-left: 3px solid #fe2057;
}