{% extends 'sls/dashboard.html' %}
{% load static %}
{% block title %}บทเรียน{% endblock %}

{% block styles %}
{{ block.super }}
<style>
    td, th {
        vertical-align: middle !important;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <H3>{{ course.name }}</H3>
    <table class="table is-striped">
        <thead>
            <tr>
                <th style="width: 40px; text-align:right;">#</th>
                <th>รายการ</th>
                <th style="width: 100px;"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            {% for video in video_list %}
            <tr>
                <td style="text-align:right;">{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'sls:media_viewer' video.id %}">
                    {% if video.id in history_list %}
                        <span style="color:#fe2057">{{video.name}}</span> <span style="color:#666; font-weight: bold;">(เรียนแล้ว)</span>
                    {% else %}
                        <strong style="color:#fe2057">{{video.name}}</strong>
                    {% endif %}
                    </a>
                    <br/>
                    {% if video.hour_length != 0 %}
                    <span style="color:#666;">{{ video.hour_length }} ชั่วโมง</span>
                    {% endif %}
                    {% if video.minute_length != 0 %}
                    <span style="color:#666;">{{ video.minute_length }} นาที</span>
                    {% endif %}
                </td>
                <td>
                    <a class="button begr-button is-primary" href="{% url 'sls:media_viewer' video.id %}" title="{{video.name}}">
                        <span class="icon">
                            <i class="fa fa-play"></i>
                        </span>
                        <strong>เล่นวีดีโอ</strong>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}