{% extends 'sls/base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/responsive-slider/responsiveslides.css'%}">
  <style>
    .error {
      color: #e1003a;
      text-align: center;
    }
    .footer {
      background: #293941;
      padding: 10px 0;
      color: #FFF;
      width:100%;
      position:absolute;
      bottom:0;
      left:0;
    }
    #dashboard-body {
      padding-top: 60px;
      padding-bottom: 140px;
    }
  </style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
  window.LOGOUT_COUNTDOWN = {{login_countdown}};
  $(document).ready(function(){
    setInterval(function() {
      switch(window.LOGOUT_COUNTDOWN) {
        case 600: new Notification("เวลาจะหมดใน 10 นาที");
          break;
        case 300: new Notification("เวลาจะหมดใน 5 นาที");
          break;
        case 0: window.location.href ='{% url 'sls:logout' %}';
          break;
      }

      window.LOGOUT_COUNTDOWN--;
    }, 1000)
  })
</script>
{% endblock %}

{% block body %}
  {% include 'sls/navbar.html' %}
  <div class="section" id="dashboard-body">
    <div class="container">
      <div class="column is-12">
        <div class="content">
        {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
      <div class="container">
        <div class="column is-12">
          <div class="columns">
            <div class="column is-6">
              <p>© 2017 be-engineer. All rights reserved.</p>
            </div>
            <div class="column is-6">
              <p>
                Facebook Page: <span style="color:#fe2057;">beengineer2012</span>
              </p>
              <p>
                LINE: <span style="color:#fe2057;">@be-engineer</span>
              </p>
          </div>
        </div>
      </div>
  </footer>
{% endblock %}