{% extends 'sls/dashboard.html' %}
{% load static %}
{% block title %}บทเรียน{% endblock %}

{% block styles %}
{{ block.super }}
<link href="{% static 'plugins/videojs/video-js.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/videojs/videojs-seek-buttons.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div>
    <div>
        <a href="{% url 'sls:course' %}">
            <span class="icon">
                <i class="fa fa-list-ul"></i>
            </span>
            &nbsp; รายการ
        </a>
        <span> / </span>
        <strong>{{ video.name }}</strong>
    </div>
    <h1 style="text-align:center;">{{ video.name }}</h1>
    <video
        id="player" class="video-js"
        style="width:100%; min-height:500px;"

    >
        <source src="{{media_server_url}}{{video.link}}" type="video/mp4"></source>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
            </a>
        </p>
    </video>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'plugins/videojs/video.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/videojs/videojs-seek-buttons.js' %}"></script>
<script type="text/javascript" >
window.HELP_IMPROVE_VIDEOJS = false;

$(document).ready(function() {
    var playerEle = document.getElementById('player')
    var player = videojs(playerEle, {
        playbackRates: [1.0, 1.5, 2.0],
        autoplay: true,
        preload: 'auto',
        controls: true,
        plugins: {
            seekButtons: {
              forward: 10,
              back: 10
            }
        }
    })
})
</script>
{% endblock %}