{% load static %}
<style>
  #dashboard-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
</style>
<nav class="nav has-shadow" id="dashboard-navbar">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="{% url 'sls:course' %}">
          <img src="{% static 'img/logo.png' %}" alt="Be-engineer Logo">
        </a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <span class="nav-item">
          {% if request.session.picture_url %}
          <figure class="image is-32x32" style="margin-right: 8px;
            background-image: url({{ request.session.picture_url }});
            background-size: cover;">
          </figure>
          {% else %}
          <span style="margin-right: 8px;">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
          {% endif %}
          {{ request.session.first_name }} {{ request.session.last_name }}
        </span>
        {% comment %} <a class="nav-item" href="{% url 'edit_profile' %}">
          แก้ไขข้อมูล
        </a>
        <a class="nav-item" href="{% url 'change_password' %}">
          เปลี่ยน password
        </a> {% endcomment %}
        <div class="nav-item">
          <a class="button begr-button is-primary is-outlined" href="{% url 'sls:logout' %}">
            ออกจากระบบ
          </a>
        </div>
        
      </div>
    </div>
  </nav>