{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<style>
.colMS {
    margin-left: 300px;
    margin-right: 0px;
}
.dashboard #content {
    width: auto;
}
.dashboard .module table.booking-table th {
    width: auto;
}

#content {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 80px;
}

#content-related {
    float: left;
    width: 300px;
    position: relative;
    margin-left: -340px;
    margin-right: 0px;
}

.booking-table {
    width: 100%;
}
.booking-table tr > th:first-child {
    width: 125px;
    background-color: #f6f6f6;
}
.booking-table th, .booking-table td {
    vertical-align: middle;
    padding: 16px;
    width: 48px;
    text-align: center
}
.booked-seat.is-continue {
    color: #000;
    background-color: #aadc8a;
}
.booked-seat {
    background-color: #b1c966;
}
.highlight {
    opacity: 0.8;
}
.highlight-cell {
    opacity: 1;
}
.booking-table caption {
    line-height: 30px;
}    

#data-tooltip {
    width: 200px;
    display: inline-block;
    position: absolute;
    background: #79aec8;
    color: #fff;
    margin: 0;
    padding: 8px;
    opacity: 1;
    z-index: 1000;
    border: 1px solid #eee;
    box-shadow: 0px 0px 1px 1px #999;
}
#data-tooltip > div {
    margin: 4px 0px;
}
.mute-text {
    color: #e5e5e5;
    font-weight: normal;
    width: 60px;
    display: inline-block;
}

</style>

{% endblock %}
{% block extrahead %}
{{ block.super }}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css" />
<script>

    function showToolTip(member, course, nickname, picture, posX, posY) {
        var tooltip = $('#data-tooltip');
        tooltip.find('.fullname-data').text(member);
        tooltip.find('.course-data').text(course);
        tooltip.find('.nickname-data').text(nickname);
        var picture_url = 'url(' + picture + ')';
        tooltip.find('.picture-data > div').css('background-image', picture_url);
        posX = posX - 80
        posY = posY - 240
        tooltip.css('left', posX + 'px');
        tooltip.css('top', posY + 'px');

        tooltip.show();
    }

    function hideToolTip() {
        $('#data-tooltip').hide()
    }

    $(document).ready(function() {
        var dateInput = $('#booking-date-input').datepicker({
            format: 'yyyy-mm-dd',
        });

        dateInput.datepicker('setDate', new Date('{{selected_date|date:'Y-m-d'}}'));

        hideToolTip();

        $('.seat-slot').on('mouseenter', function(e) {
            var self = $(e.target)

            var course = self.data('course');
            var member = self.data('member');
            var nickname = self.data('nickname');
            var picture = self.data('picture');

            if (course == '') {
                hideToolTip();
                return;
            }
            
            var colIdx = self.data('col-idx')
            var rowIdx = self.data('row-idx')

            $('[data-col-idx="' + colIdx + '"]').addClass('highlight')
            $('.row-data[data-row-idx="' + rowIdx + '"]').addClass('highlight')
            self.addClass('highlight-cell')

            var position = self.offset()

            showToolTip(member, course, nickname, picture, position.left, position.top)
        }).on('mouseleave', function(e) {
            var self = $(e.target)
            var colIdx = self.data('col-idx')
            var rowIdx = self.data('row-idx')

            $('[data-col-idx="' + colIdx + '"]').removeClass('highlight')
            $('.row-data[data-row-idx="' + rowIdx + '"]').removeClass('highlight')
            self.removeClass('highlight-cell')

            hideToolTip();
        })
    })
</script>
{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="data-tooltip">
    <div>
        <div class="picture-data">
            <div style="width:100%; height:150px; background-size:100%;">
            </div>
        </div>
    </div>
    <div>
        <div class="mute-text">ชื่อเล่น</div>
        <div class="nickname-data" style="display:inline-block"></div>
    </div>
    <div>
        <div class="mute-text">ชื่อจริง</div>
        <div class="fullname-data" style="display:inline-block"></div>
    </div>
    <div>
        <div class="mute-text">วิชา</div>
        <div class="course-data" style="display:inline-block"></div>
    </div>
    
</div>
<div id="content-main">
    <div class="module">
        <table class="booking-table">
            <caption>ตารางการจอง - {{selected_date}}
                <form method="POST" style="display:inline-block;">
                    {% csrf_token %}
                    <input type="text" id="booking-date-input" name="selected_date">
                    <button id="submit-btn" class="btn btn-default">ดูตาราง</button>
                </form>
            </caption>
            {% if booking_table %}
            <thead>
                <tr>
                    <th scope="row"></th>
                    {% for col in booking_table.0 %}
                    <th>{{col.seat}}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% for row in booking_table %}
            <tr class="row-data" data-row-idx="{{forloop.counter0}}">
                <th scope="row period-column">{{row.0.period}}</th>
                {% for col in row %}
                <td class="
                    seat-slot
                    {% if col.is_continue %}is-continue{% endif %}
                    {% if col.member %}booked-seat {%endif%}"
                    data-col-idx="{{forloop.counter0}}"
                    data-row-idx="{{forloop.parentloop.counter0}}"
                    data-member="{{col.member.get_full_name}}"
                    data-picture="{{col.member.picture.url}}"
                    data-nickname="{{col.member.nick_name}}"
                    data-course="{{col.course}}">
                    {% if col.member %}
                    <i class="fa fa-user seat-icon" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-user-o seat-icon" aria-hidden="true"></i>
                    {%endif%}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% else %}
            <thead>
                <tr>
                    <th scope="row">มีมีตารางเรียนเนื่องจากเป็นวันหยุด</th>
                </tr>
            </thead>
            {% endif %}

        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    {% if app_list %}
        {% for app in app_list %}
            <div class="app-{{ app.app_label }} module">
            <table>
            <caption>
                <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
            </caption>
            {% for model in app.models %}
                <tr class="model-{{ model.object_name|lower }}">
                {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% else %}
                    <th scope="row">{{ model.name }}</th>
                {% endif %}

                {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                {% if model.admin_url %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
</div>
{% endblock %}
