{% if is_initial %}
    <a href="{{ widget.value.url }}" target="_blank">
        <img src="{{ widget.value.url }}" style="height:100px;"/>
    </a>
    {% if not widget.required %}
<input type="checkbox" name="{{ checkbox_name }}" id="{{ checkbox_id }}" />
<label for="{{ checkbox_id }}">{{ clear_checkbox_label }}</label>{% endif %}<br />
{{ input_text }}:{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} />