{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} | Be Engineer</title>
  <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" id="bulma" href="{% static 'css/font.css' %}" />
  <link rel="stylesheet" id="bulma" href="{% static 'css/bulma.css' %}" />
  <link rel="stylesheet" id="bulma" href="{% static 'css/main.css' %}" />
  {% block styles %}{% endblock %}
  <style>
    #body-wrapper {
      min-height: 100%;
      position: relative;
    }
  </style>
</head>
<body>
  <div id="body-wrapper">
{% block body %}{% endblock %}
  </div>
{% block scripts %}{% endblock %}
</body>
</html>