{% extends 'frontend/dashboard.html' %}
{% load static %}

{% block title %}ตารางการจอง{% endblock %}
{% block scripts %}
{{ block.super }}
<script>
  window.activeBooking = {}
  // using jQuery
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  
  }

  $(document).ready(function(){
    var csrftoken = getCookie('csrftoken');
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $('.cancel-booking').click(function(e){
      var elm = $(e.target)
      var booking_id = elm.data('id')
      window.activeBooking.id = booking_id
      window.activeBooking.period = elm.data('period')
      window.activeBooking.course = elm.data('course')
      window.activeBooking.date = elm.data('date')
      var url = '{% url 'frontend:check_is_free_cancel_booking' %}'

      $.post(url, {
        booking_id: booking_id
      }, function(body, status){
        if(body.status === 'success') {
          showConfirmCancelBooking(body.data.is_free)
        }
      })
    })
  })

  function showConfirmCancelBooking(isFree) {
    var modal = $('#confirm-modal')
    $('#booking-course').text(window.activeBooking.course)
    $('#booking-date').text(window.activeBooking.date)
    $('#booking-period').text(window.activeBooking.period)
    if (isFree) {
      $('#free-cancel-message').show()
      $('#not-free-cancel-message').hide()
    } else {
      $('#free-cancel-message').hide()
      $('#not-free-cancel-message').show()
    }

    modal.addClass('is-active')
  }

  function hideConfirmCancelBooking() {
    var modal = $('#confirm-modal')
    modal.removeClass('is-active')
  }
  function cancelBooking() {
    var form = $('#cancel-form')
    form.find('[name="booking_id"]').val(window.activeBooking.id)
    form.submit()
  }
</script>
{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" id="bulma" href="{% static 'css/booking.css' %}" />
<style>
  #free-cancel-message, #not-free-cancel-message {
    color: #ff3860;
  }
  .highlight-brown {
    color:#b32f2f;
    text-decoration: underline;
    font-weight: bold;
  }
  .cancel-booking {
    width:40px;
    border-radius: 8px;
    font-size:14px;
  }
</style>
{% endblock %}
{% block content %}
<h1>ตารางการจอง</h1>

{% for book in book_list %}

<div class="booking-list">
  <div class="booking-item">
    <div class="booking-date-wrapper">
      <div class="booking-weekday">{{ book.date | date:'l' }}</div>
      <div class="booking-date">{{ book.date | date:'j' }}</div>
      <div class="booking-month">{{ book.date | date:'F' }}</div>
    </div>
    <div class="booking-body">
      <div class="wrapper" style="display: inline-block;">
        <div class="booking-subject">{{ book.course }}</div>
        <div class="booking-period">{{ book.display_period }}</div>
      </div>
      <div class="booking-seat">
        <div class="booking-seat-label">ที่นั่ง</div>
        <div class="booking-seat-number">{{ book.seat }}</div>
      </div>
    </div>
    <div class="booking-action">
          <button type="button" class="button is-danger cancel-booking"
            data-id="{{book.id}}"
            data-date="{{ book.date | date:'j F o' }}"
            data-course="{{ book.course }}"
            data-period="{{ book.display_period }}"
          >
            ยกเลิก
          </button>
    </div>
  </div>
</div>
{% endfor %}

  <form id="cancel-form" action="{% url 'frontend:cancel_booking' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="booking_id" value=""/>
  </form>

  <div class="modal" id="confirm-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <div class="modal-card-title">ยืนยันการยกเลิก</div>
        <button class="delete" onclick="hideConfirmCancelBooking()"></button>
      </header>
      <section class="modal-card-body">
          <div class="container">
              <div class="column is-12">
                  <div class="columns">
                      <div class="column is-4">วิชา</div>
                      <div class="column is-8"><strong id="booking-course"></strong></div>
                  </div>
                  <div class="columns">
                      <div class="column is-4">ในวันที่</div>
                      <div class="column is-8"><strong id="booking-date"></strong></div>
                  </div>
                  <div class="columns">
                      <div class="column is-4">ช่วงเวลา</div>
                      <div class="column is-8"><strong id="booking-period"></strong></div>
                  </div>
                  <div class="columns">
                    <div class="column is-12" id="free-cancel-message" style="display:none;">
                      *นักเรียนจะ <span class="highlight-brown">ได้รับ</span> เวลาเรียนคืนหลังจากทำการยกเลิกการจอง
                    </div>
                    <div class="column is-12" id="not-free-cancel-message" style="display:none;">
                      *นักเรียนจะ <span class="highlight-brown">ไม่ได้รับ</span> เวลาเรียนคืนเนื่องจากเลยเวลาในการยกเลิก
                    </div>
                  </div>
              </div>
          </div>
      </section>
      <footer class="modal-card-foot">
        <a class="button begr-button is-danger" onclick="cancelBooking()">ยกเลิกการจอง</a>
        <a class="button begr-button" onclick="hideConfirmCancelBooking()">ยกเลิก</a>
      </footer>
    </div>
  </div>
{% endblock %}