{% extends 'frontend/dashboard.html' %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'plugins/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'plugins/flatpickr/flatpickr.locale.th.js' %}"></script>
<script>
    $(document).ready(function() {
        Flatpickr.localize(Flatpickr.l10ns.th)
        var flatPicker = flatpickr('#datepicker', {
            altInput: true,
            defaultDate: new Date(),
            minDate: new Date(),
        })

        {% if search_params.date %}
        var selectedDate = new Date('{{search_params.date}}')
        selectedDate.setHours(23)
        selectedDate.setMinutes(59)
        flatPicker.setDate(selectedDate)
        {% endif %}

        $('#bookform').on('submit', function(e) {
            var input = $('input[type="radio"]:checked')
            var period_text = input.data('period')
            $('#display-period').text(period_text)
            showConfirmBooking()
            e.preventDefault(true)
            return false;
        })
        $('.result-data input[type="radio"]').click(function(e) {
            e.stopPropagation()
            var self = $(e.target)
            $('.result-data').removeClass('selected')
            self.parent().addClass('selected')
        })
        $('.result-data').click(function(e) {
            e.stopImmediatePropagation()
            var self = $(e.target)
            var inputId = self.data('for')
            $('#' + inputId).click()
        })
    })

    function showConfirmBooking() {
        var confirmModal = document.getElementById('confirm-modal')
        confirmModal.classList.add('is-active')
        
    }
    function closeConfirmBooking() {
        var confirmModal = document.getElementById('confirm-modal')
        confirmModal.classList.remove('is-active')
    }
</script>
{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'plugins/flatpickr/flatpickr.min.css' %}">
<style>
    .result-data:hover {
        cursor: pointer;
    }
    .result-data.selected{
        background: #22343E;
        color: #FFFFFF;
    }
    input[type="radio"] {
        margin: 0 10px;
    }
</style>
{% endblock %}

{% block title %}ค้นหา/จอง วิชาเรียน{% endblock %}

{% block content %}

<div class="modal" id="confirm-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="modal-card-title">ยืนยันการจอง</div>
      <button class="delete" onclick="closeConfirmBooking()"></button>
    </header>
    <section class="modal-card-body">
        <div class="container">
            <div class="column is-12">
                <div class="columns">
                    <div class="column is-4">คุณต้องการจองวิชา</div>
                    <div class="column is-8"><strong>{{display_params.course_name}}</strong></div>
                </div>
                <div class="columns">
                    <div class="column is-4">ในวันที่</div>
                    <div class="column is-8"><strong>{{display_params.date|date:'l, j F o'}}</strong></div>
                </div>
                <div class="columns">
                    <div class="column is-4">ช่วงเวลา</div>
                    <div class="column is-8"><strong id="display-period"></strong></div>
                </div>
                <div class="columns">
                    <div class="column is-4">เป็นเวลา</div>
                    <div class="column is-8"><strong>{{search_params.duration}} ชั่วโมง</strong></div>
                </div>
                <div class="columns">
                    <div class="column is-12" style="color: #ff3860;">
                        *หากมาสายเกิน 15 นาที ระบบจะตัดเวลาที่จองไว้ทันที
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-primary begr-button" onclick="window.bookform.submit()">ตกลง</a>
      <a class="button begr-button" onclick="closeConfirmBooking()">ยกเลิก</a>
    </footer>
  </div>
</div>


<h1>ค้นหา/จอง วิชาเรียน</h1>
<form method="POST">
    {% csrf_token %}
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label sukhumvit-font">วิชาเรียน</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <span class="select is-fullwidth">
                        <select id="course" name="course">
                            {% for course_member in course_members %}
                            {% with course=course_member.course %}
                            <option value="{{ course.id }}"
                                {% if course.id == search_params.course %}
                                selected
                                {% endif %}
                            >
                                {{ course.name }} 
                                {% if course_member.remaining_studying_hours <= 0 %}
                                (ชั่วโมงเรียนหมดแล้ว)
                                {% else %}
                                (เหลือเวลาเรียน {{course_member.remaining_studying_hours}} ชั่วโมง)
                                {% endif %}
                            </option>
                            {% endwith %}
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label sukhumvit-font">วันที่เรียน</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input id="datepicker" name="date" placeholder="เลือกวันที่เรียน"/>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="field-label">
            <label class="label sukhumvit-font">จำนวนชั่วโมง</label>
        </div>
        <div class="control">
            <span class="select is-fullwidth">
                <select id="period" name="duration">
                    <option value="1" {% if search_params.duration == 1 %} selected {% endif %}>1 ชั่วโมง</option>
                    <option value="2" {% if search_params.duration == 2 %} selected {% endif %} {% if not search_params.duration %} selected {% endif %}>2 ชั่วโมง</option>
                    <option value="3" {% if search_params.duration == 3 %} selected {% endif %}>3 ชั่วโมง</option>
                    <option value="4" {% if search_params.duration == 4 %} selected {% endif %}>4 ชั่วโมง</option>
                </select>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label"></label>
        <div class="control" style="text-align: center;">
            <p style="display:inline-block;">
                <button type="submit" name="addition_date" value="{{prev_date_str}}" class="button is-primary is-outlined"
                    style="
                        width: 100px;
                        float:left;
                        border-bottom-right-radius:0px;
                        border-top-right-radius:0px;
                    "
                    {% if not prev_date_str %}disabled="disabled"{% endif %}
                    >
                    <span class="icon is-small">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                    <span>วันก่อนหน้า</span>
                </button>
                <button type="submit" name="addition_date" value="" class="button is-primary"
                    style="float:left;border-width: 0px; border-radius: 0px;">
                    <span class="icon is-small">
                        <i class="fa fa-search"></i>
                    </span>
                    <span>ค้นหา</span>
                </button>
                <button type="submit" name="addition_date" value="{{next_date_str}}" class="button is-primary is-outlined"
                    style="width: 100px; float:left;
                        border-bottom-left-radius:0px;
                        border-top-left-radius:0px;">
                    <span>วันถัดไป</span>
                    <span class="icon is-small">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                </button>
                <div style="clear:both;"></div>
            </p>
        </div>
    </div>
    
    {% if error_message %}
    <div style="color:brown; text-align:center;">พบข้อผิดพลาดในระหว่างทำการจอง กรุณาตรวจสอบชั่วโมงเรียน หรือช่วงเวลาอีกครั้ง</div>
    {% endif %}
</form>

{% if result %}
<h2>{{display_params.date| date:'วันlที่ j F o'}} (ว่าง {{result|length}} ที่นั่ง)</h2>

<form method="POST" action="{% url 'frontend:book' %}"
                data-start-time="{{r.start_time}}"
                data-end-time="{{r.end_time}}"
                id="bookform">
                {% csrf_token %}
    <input type="hidden" name="date" value="{{search_params.date}}"/>
    <input type="hidden" name="course" value="{{search_params.course}}"/>
    <table class="table is-bordered is-striped">
        <thead>
        <tr>
            <th>ช่วงเวลา</th>
        </tr>
        </thead>
        <tbody>
        {% for r in result %}
        <tr>
            <td class="result-data" data-for="booking-result-{{ forloop.counter }}">
                <input id="booking-result-{{ forloop.counter }}"
                    type="radio" name="period_id_list"
                    value="{{r.period_id_list|join:','}}"
                    data-period="{{r.start_time|time:'H:i'}} - {{r.end_time|time:'H:i'}}"/>
                <label for="booking-result-{{ forloop.counter }}">
                    {{r.start_time|time:'H:i'}} - {{r.end_time|time:'H:i'}}
                </label>
            </td>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="button is-primary begr-button">จอง</button>
    </form>
{% endif %}
{% if result_not_found %}
    <h3>ไม่พบชั่วโมงเรียนที่ค้นหา</h3>
{% endif %}

{% endblock %}