{% extends 'frontend/dashboard.html' %}
{% load static %}
{% block title %}ประวัติการเรียน{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" id="bulma" href="{% static 'css/booking.css' %}" />
{% endblock %}

{% block content %}
<h1>ประวัติการเรียน</h1>
{% for history in history_list %}
<div class="booking-list history-list">
  <div class="booking-item">
    <div class="booking-date-wrapper">
      <div class="booking-weekday reverse">{{ history.date | date:'l' }}</div>
      <div class="booking-date reverse">{{ history.date | date:'j' }}</div>
      <div class="booking-month reverse">{{ history.date | date:'F' }}</div>
    </div>
    <div class="booking-body">
      <div class="wrapper" style="display: inline-block;">
        <div class="booking-subject">{{ history.course }}</div>
        <div class="booking-period">{{ history.display_period }}</div>
      </div>
      <div class="booking-remark has-text-centered">
        {% if history.action == 'CANCEL_BOOK' %}
            <span style="color: #ff3860;">*{{history.get_action_display}}</span>
        {% endif %}
      </div>
      <div class="booking-seat">
        <div class="booking-seat-label">ที่นั่ง</div>
        <div class="booking-seat-number">{{ history.seat }}</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}