{% extends 'frontend/dashboard.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
  <style>
    .error {
      color: #e1003a;
      text-align: center;
    }
    label.radio, label.checkbox {
        color: #4a4a4a;
    }
    label.help-text {
      color:#e1003a;
    }
    #preview-profile {
      max-width: 300px;
      display: inline-block;
    }
    input[type="file"] {
      color: #4a4a4a;
    }
  </style>
{% endblock %}

{% block title %}แก้ไขโปรไฟล์{% endblock %}

{% block content %}
<h1 class="title">
    เปลี่ยน password
</h1>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="">
    <label class="label">*password เดิม</label>
    <p class="control">
        <input class="input {% if 'old_password' in error_fields and origin.old_password == '' %}is-danger{% endif %}" type="password" placeholder="●●●●●●●" name="old_password" value="">
    </p>
    <hr>
    <label class="label">*password ใหม่</label>
    <p class="control">
        <input class="input {% if 'new_password' in error_fields and origin.new_password == '' %}is-danger{% endif %}" type="password" placeholder="●●●●●●●" name="new_password" value="">
        <label class="help-text">
            password ต้องมีความยาวอย่างน้อย 8 ตัวอักษร ประกอบด้วยตัวเลขและตัวอักษรหรืออักขระพิเศษ
        </label>
    </p>
    <label class="label">*ยืนยัน password ใหม่</label>
    <p class="control">
        <input class="input {% if 'new_password' in error_fields and origin.new_password == '' %}is-danger{% endif %}" type="password" placeholder="●●●●●●●" name="new_password2" value="">
    </p>
    <hr>
    {% if error_message %}
    <p class="control">
        <span class="error">{{error_message}}</span>
    </p>
    {% endif %}
    <p class="control">
    <button type="submit" class="button begr-button is-primary">เปลี่ยน password</button>
    </p>
</div>
</form>
{% endblock %}