{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/responsive-slider/responsiveslides.css'%}">
  <style>
    .error {
      color: #e1003a;
      text-align: center;
    }
    .footer {
      background: #293941;
      padding: 10px 0;
      color: #FFF;
      width:100%;
      position:absolute;
      bottom:0;
      left:0;
    }
    #dashboard-body {
      padding-top: 60px;
      padding-bottom: 140px;
    }
  </style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/responsive-slider/responsiveslides.min.js' %}"></script>
<script>
    $(function() {
      $(".rslides").responsiveSlides({
        auto: true,             // Boolean: Animate automatically, true or false
        speed: 500,            // Integer: Speed of the transition, in milliseconds
        timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
        pager: false,           // Boolean: Show pager, true or false
        nav: true,             // Boolean: Show navigation, true or false
        random: false,          // Boolean: Randomize the order of the slides, true or false
        pause: false,           // Boolean: Pause on hover, true or false
        pauseControls: true,    // Boolean: Pause when hovering controls, true or false
        prevText: "",   // String: Text for the "previous" button
        nextText: "",       // String: Text for the "next" button
        maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
        navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
        manualControls: "",     // Selector: Declare custom pager navigation
        namespace: "rslides",   // String: Change the default namespace used
        before: function(){},   // Function: Before callback
        after: function(){}     // Function: After callback
      });
    });
  </script>
{% endblock %}

{% block body %}
  {% include 'frontend/navbar.html' %}
  <div class="section" id="dashboard-body">
    <div class="container">
      <div class="column is-12">
        <ul class="rslides">
          {% for slide in slider %}
          <li><img src="{{slide.image.url}}" alt=""></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="column is-12">
        <div class="columns">
          {% include 'frontend/side_menu.html' %}
          <div class="column is-8">
            <div class="content">
            {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
      <div class="container">
        <div class="column is-12">
          <div class="columns">
            <div class="column is-6">
              <p>© 2017 be-engineer. All rights reserved.</p>
            </div>
            <div class="column is-6">
              <p>
                Facebook Page: <a href="https://www.facebook.com/beengineer2012" target="_blank">beengineer2012</a>
              </p>
              <p>
                LINE: <a href="http://line.me/ti/p/%40be-engineer" target="_blank">@be-engineer</a>
              </p>
          </div>
        </div>
      </div>
  </footer>
{% endblock %}