{% extends 'frontend/dashboard.html' %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $('#preview-profile').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $(document).ready(function() {
    $('#upload-profile-input').change(function(){
      readURL(this);
      $('#preview-profile-wrapper').show()
      $('#remove-picture-btn').show()
    })
    $('#remove-picture-btn').click(function(e) {
      $('#preview-profile-wrapper').hide()
      $('#preview-profile').attr('src', '');
      $('#upload-profile-input').val('')
      $('#remove-picture-btn').hide()
      e.preventDefault()
      return false
    })
  })
</script>
{% endblock %}

{% block styles %}
{{ block.super }}
  <style>
    .error {
      color: #e1003a;
      text-align: center;
    }
    label.radio, label.checkbox {
        color: #4a4a4a;
    }
    label.help-text {
      color:#e1003a;
    }
    .preview-image-profile {
      max-width: 300px;
      display: inline-block !important;
    }
    input[type="file"] {
      color: #4a4a4a;
    }
    .preview-image-wrapper {
        float: left;
        margin-right: 10px;
    }
  </style>
{% endblock %}

{% block title %}แก้ไขโปรไฟล์{% endblock %}

{% block content %}
<h1 class="title">
    แก้ไขโปรไฟล์
</h1>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="">
    <label class="label">user</label>
    <p class="control">
    <input class="input" value="{{origin.username}}" disabled="disabled">
    </p>
    <label class="label">*ชื่อ</label>
    <p class="control">
    <input class="input {% if 'first_name' in error_fields and origin.first_name == '' %}is-danger{% endif %}" type="text" placeholder="ชื่อ" name="first_name" value="{{origin.first_name}}">
    </p>
    <label class="label">*นามสกุล</label>
    <p class="control">
    <input class="input {% if 'last_name' in error_fields and origin.last_name == '' %}is-danger{% endif %}" type="text" placeholder="นามสกุล" name="last_name" value="{{origin.last_name}}">
    </p>
    <label class="label">เพศ</label>
    <p class="control">
    <label class="radio">
        <input type="radio" name="gender" value="ชาย" {% if origin.gender == 'ชาย' %}checked{% endif %}>ชาย
    </label>
    <label class="radio">
        <input type="radio" name="gender" value="หญิง" {% if origin.gender == 'หญิง' %}checked{% endif %}>หญิง
    </label>
    </p>
    <label class="label">ชื่อเล่น</label>
    <p class="control">
    <input class="input" type="text" placeholder="ชื่อเล่น" name="nick_name" value="{{origin.nick_name}}">
    </p>
    <label class="label">รูปโปรไฟล์</label>
    <div class="control">
        {% if member.picture %}
        <figure id="old-profile-wrapper" class="preview-image-wrapper">
            ภาพเดิม</br>
            <img src="{{ member.picture.url }}" class="preview-image-profile">
        </figure>
        {% endif %}
        <figure id="preview-profile-wrapper" class="preview-image-wrapper" style="display:none;" >
            ภาพใหม่<br/>
            <img id="preview-profile" class="preview-image-profile">
        </figure>
        <div style="clear:both"></div>
        <input id="upload-profile-input" type="file" placeholder="แนบรูปถ่ายโปรไฟล์" name="profile_picture">
        <button id="remove-picture-btn" type="button" class="button is-link" style="display:none;">นำภาพออก</button>
    </div>
    <label class="label">*เบอร์โทรศัพท์</label>
    <p class="control">
    <input class="input {% if 'mobile' in error_fields and origin.mobile == '' %}is-danger{% endif %}" type="text" placeholder="087 872 6287" name="mobile" value="{{origin.mobile}}">
    </p>
    <label class="label">Email</label>
    <p class="control">
        <input class="input" value="{{origin.email}}" disabled="disabled"/>
    </p>
    <label class="label">*Facebook</label>
    <p class="control">
    <input class="input {% if 'facebook' in error_fields and origin.facebook == '' %}is-danger{% endif %}" type="text" placeholder="https://www.facebook.com/beengineer2012/" name="facebook" value="{{origin.facebook}}">
    </p>
    <label class="label">*ที่อยู่ปัจจุบัน</label>
    <p class="control">
    <textarea class="textarea {% if 'address' in error_fields and origin.address == '' %}is-danger{% endif %}" type="text" name="address" rows="1">{{origin.address}}</textarea>
    </p>
    <hr>
    <label class="label">ภาควิชา</label>
    <p class="control">
    <div class="select is-fullwidth">
        <select name="department">
        <option value="" {% if not origin.department or origin.department == '' %} selected {% endif %}>
            คณะ/ภาควิชา
        </option>
        {% for department in predefined_department %}
        <option value="{{department.id}}" {% if origin.department|add:'0' == department.id %} selected {% endif %}>
            {{department.name}}
        </option>
        {% endfor %}
        </select>
    </div>
    </p>
    <label class="label">GPAX</label>
    <p class="control">
    <input class="input" type="text" placeholder="2.50" name="gpax" value="{{origin.gpax}}">
    </p>
    <hr>
    <label class="label">รู้จักเราจากไหน?</label>
    <p class="control">
    <div class="columns">
        <div class="column is-one-third">
        <label class="checkbox">
            <input type="checkbox" name="known_form" value="facebook"
            {% if 'facebook' in known_form %}checked{% endif %} disabled>Facebook
        </label>
        </div>
        <div class="column is-one-third">
        <label class="checkbox">
            <input type="checkbox" name="known_form" value="facebook live"
            {% if 'facebook live' in known_form %}checked{% endif %} disabled>Facebook Live
        </label>
        </div>
        <div class="column is-one-third">
        <label class="checkbox">
            <input type="checkbox" name="known_form" value="ใบปลิว"
            {% if 'ใบปลิว' in known_form %}checked{% endif %} disabled>ใบปลิว
        </label>
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-third">
        <label class="checkbox">
            <input type="checkbox" name="known_form" value="เพื่อนแนะนำ"
            {% if 'เพื่อนแนะนำ' in known_form %}checked{% endif %} disabled>เพื่อนแนะนำ
        </label>
        </div>
        <div class="column is-one-third">
        <label class="checkbox">
            <input type="checkbox" name="known_form" value="พี่แนะนำ"
            {% if 'พี่แนะนำ' in known_form %}checked{% endif %} disabled>พี่แนะนำ
        </label>
        </div>
        <div class="column is-one-third">
        <label class="checkbox">
            <input type="checkbox" name="known_form" value="ติวฟรี"
            {% if 'ติวฟรี' in known_form %}checked{% endif %} disabled>ติวฟรี
        </label>
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-third">
        <label class="checkbox">
            <input type="checkbox" name="known_form" value="ชีทในมหาวิทยาลัย"
            {% if 'ชีทในมหาวิทยาลัย' in known_form %}checked{% endif %} disabled>ชีทในมหาวิทยาลัย
        </label>
        </div>
        <div class="column is-one-third">
        <label class="checkbox">
            <input type="text" class="input" name="known_form_other" value="{{origin.known_form_other}}" disabled>
        </label>
        </div>
    </div>
    </p>
    <hr>
    {% if error_message %}
    <p class="control">
    <span class="error">{{error_message}}</span>
    </p>
    {% endif %}
    <p class="control">
    <button type="submit" class="button begr-button is-primary">ดำเนินการแก้ไข</button>
    </p>
</div>
</form>
{% endblock %}