{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
  <style>
    .error {
      color: #e1003a;
      text-align: center;
    }
  </style>
{% endblock %}

{% block scripts %}
<script>
  function beforeSubmit (e) {
    
    var usernameInput = document.getElementById('username')
    var passwordInput = document.getElementById('password')
    
    if (usernameInput.value.trim().length === 0) {
      return false
    } else if (usernameInput.value.length === 0) {
      return false
    }

    var submitButton = document.getElementById('submit-button')
    submitButton.classList.add('is-loading')

    return true;
  }
</script>
{% endblock %}

{% block body %}
  <div class="login-wrapper columns">
    <div class="column is-8 is-hidden-mobile hero-banner">
      <section class="hero is-fullheight is-dark">
        <div class="hero-body">
          <div class="container section">
            <div class="has-text-right">
              <h1 class="title is-1" style="background-color: rgba(0,0,0,0)">Login</h1> <br>
              <p class="title is-3" style="background-color: rgba(0,0,0,0)">Be Engineer Booking System Login</p>
            </div>
          </div>
        </div>
      </section>  
    </div>
    <div class="column is-4">
      <section class="hero is-fullheight">
        <div class="hero-heading">
          <div class="section has-text-centered">
            <img src="{% static 'img/logo.png' %}" alt="Be Engineer logo">
          </div>
        </div>
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-8 is-offset-2">
                <form class="login-form" method="POST" onsubmit="return beforeSubmit()">
                  {% csrf_token %}
                  <p class="control has-icon has-icon-right">
                    <input id="username" name="username" class="input email-input" type="text" placeholder="jsmith@example.org" value="{{username}}">
                    <span class="icon user">
                      <i class="fa fa-user"></i>
                    </span>
                  </p>
                  <p class="control has-icon has-icon-right">
                    <input id="password" name="password" class="input password-input" type="password" placeholder="●●●●●●●">
                    <span class="icon user">
                      <i class="fa fa-lock"></i>
                    </span>
                  </p>
                  {% if user_not_found %}
                  <p class="control error">ไม่พบ username นี้<p>
                  {% endif %}
                  {% if invalid_password %}
                  <p class="control error">password ไม่ถูกต้อง<p>
                  {% endif %}
                  {% if user_inactive %}
                  <p class="control error">ผู้ใช้ {{username}} ยังใช้งานไม่ได้<p>
                  {% endif %}
                  <p class="control login">
                    <button id="submit-button" type="submit" class="button begr-button is-primary is-large is-fullwidth">Login</button>
                  </p>
                  <p style="text-align: center">
                    <a href="{% url 'frontend:register' %}">สมัครสมาชิก</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>  
    </div>
  </div>
{% endblock %}