{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}

{% block styles %}
  <style>
    .error {
      color: #e1003a;
      text-align: center;
    }
    label.radio, label.checkbox {
        color: #4a4a4a;
    }
    label.help-text {
      color:#e1003a;
    }
    .hero {
        background: url('/static/img/bg-students.jpg');
        background-position: center;
        background-size: cover;
        background-blend-mode: screen;
    }
    #preview-profile {
      max-width: 300px;
      display: inline-block;
    }
    input[type="file"] {
      color: #4a4a4a;
    }
  </style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $('#preview-profile').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $(document).ready(function() {
    $('#upload-profile-input').change(function(){
      readURL(this);
      $('#preview-profile-wrapper').show()
    })
    $('#preview-profile-wrapper').hide()
    $('#remove-picture-btn').click(function(e) {
      $('#preview-profile-wrapper').hide()
      $('#preview-profile').attr('src', '');
      $('#upload-profile-input').val('')
      e.preventDefault()
      return false
    })
  })
</script>
{% endblock %}
{% block body %}
  <section class="hero is-fullheight is-dark">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-8 is-offset-2">
            <h1 class="title">
              สมัครสมาชิก
            </h1>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box">
              <label class="label">*username</label>
              <p class="control">
                <input class="input {% if 'username' in error_fields and origin.username == '' %}is-danger{% endif %}" type="text" placeholder="S5677192839 (แนะนำให้ใช้รหัสนักศึกษา)" name="username" value="{{origin.username}}">
                <label class="help-text">
                  username ต้องมีความยาวอย่างน้อย 4 ตัวอักษร
                </label>
              </p>
              <label class="label">*password</label>
              <p class="control">
                <input class="input {% if 'password' in error_fields and origin.password == '' %}is-danger{% endif %}" type="password" placeholder="●●●●●●●" name="password" value="">
                <label class="help-text">
                  password ต้องมีความยาวอย่างน้อย 8 ตัวอักษร ประกอบด้วยตัวเลขและตัวอักษรหรืออักขระพิเศษ
                </label>
              </p>
              <label class="label">*ยืนยัน password</label>
              <p class="control">
                <input class="input {% if 'password' in error_fields and origin.password == '' %}is-danger{% endif %}" type="password" placeholder="●●●●●●●" name="password2" value="">
              </p>
              <hr>
              <label class="label">*ชื่อ</label>
              <p class="control">
                <input class="input {% if 'first_name' in error_fields and origin.first_name == '' %}is-danger{% endif %}" type="text" placeholder="ชื่อ" name="first_name" value="{{origin.first_name}}">
              </p>
              <label class="label">*นามสกุล</label>
              <p class="control">
                <input class="input {% if 'last_name' in error_fields and origin.last_name == '' %}is-danger{% endif %}" type="text" placeholder="นามสกุล" name="last_name" value="{{origin.last_name}}">
              </p>
              <label class="label">เพศ</label>
              <p class="control">
                <label class="radio">
                  <input type="radio" name="gender" value="ชาย" {% if origin.gender == 'ชาย' %}checked{% endif %}>ชาย
                </label>
                <label class="radio">
                  <input type="radio" name="gender" value="หญิง" {% if origin.gender == 'หญิง' %}checked{% endif %}>หญิง
                </label>
              </p>
              <label class="label">ชื่อเล่น</label>
              <p class="control">
                <input class="input" type="text" placeholder="ชื่อเล่น" name="nick_name" value="{{origin.nick_name}}">
              </p>
              <label class="label">รูปโปรไฟล์</label>
              <div class="control">
                  <figure id="preview-profile-wrapper" class="image">
                    <img id="preview-profile">
                    <br/>
                    <button id="remove-picture-btn" type="button" class="button is-link">นำภาพออก</button>
                  </figure>
                  <input id="upload-profile-input" type="file" placeholder="แนบรูปถ่ายโปรไฟล์" name="profile_picture">
                  {% if 'profile_picture' in error_fields %}
                    <span class="error">{{error_message}}</span>
                  {% endif %}
              </div>
              <label class="label">*เบอร์โทรศัพท์</label>
              <p class="control">
                <input class="input {% if 'mobile' in error_fields and origin.mobile == '' %}is-danger{% endif %}" type="text" placeholder="087 872 6287" name="mobile" value="{{origin.mobile}}">
              </p>
              <label class="label">*Email</label>
              <p class="control">
                <input class="input {% if 'email' in error_fields and origin.email == '' %}is-danger{% endif %}" type="email" placeholder="be@engineer.com" name="email" value="{{origin.email}}">
              </p>
              <label class="label">*Facebook</label>
              <p class="control">
                <input class="input {% if 'facebook' in error_fields and origin.facebook == '' %}is-danger{% endif %}" type="text" placeholder="https://www.facebook.com/beengineer2012/" name="facebook" value="{{origin.facebook}}">
              </p>
              <label class="label">*ที่อยู่ปัจจุบัน</label>
              <p class="control">
                <textarea class="textarea {% if 'address' in error_fields and origin.address == '' %}is-danger{% endif %}" type="text" name="address" rows="1">{{origin.address}}</textarea>
              </p>
              <hr>
              <label class="label">ภาควิชา</label>
              <p class="control">
                <div class="select is-fullwidth">
                  <select name="department">
                    <option value="" {% if not origin.department or origin.department == '' %} selected {% endif %}>
                      คณะ/ภาควิชา
                    </option>
                    {% for department in predefined_department %}
                    <option value="{{department.id}}" {% if origin.department|add:'0' == department.id %} selected {% endif %}>
                      {{department.name}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </p>
              <label class="label">GPAX</label>
              <p class="control">
                <input class="input" type="text" placeholder="2.50" name="gpax" value="{{origin.gpax}}">
              </p>
              <hr>
              <label class="label">รู้จักเราจากไหน?</label>
              <p class="control">
                <div class="columns">
                  <div class="column is-one-third">
                    <label class="checkbox">
                        <input type="checkbox" name="known_form" value="facebook"
                        {% if 'facebook' in known_form %}checked{% endif %}>Facebook
                    </label>
                  </div>
                  <div class="column is-one-third">
                    <label class="checkbox">
                        <input type="checkbox" name="known_form" value="facebook live"
                        {% if 'facebook live' in known_form %}checked{% endif %}>Facebook Live
                    </label>
                  </div>
                  <div class="column is-one-third">
                    <label class="checkbox">
                        <input type="checkbox" name="known_form" value="ใบปลิว"
                        {% if 'ใบปลิว' in known_form %}checked{% endif %}>ใบปลิว
                    </label>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-one-third">
                    <label class="checkbox">
                        <input type="checkbox" name="known_form" value="เพื่อนแนะนำ"
                        {% if 'เพื่อนแนะนำ' in known_form %}checked{% endif %}>เพื่อนแนะนำ
                    </label>
                  </div>
                  <div class="column is-one-third">
                    <label class="checkbox">
                        <input type="checkbox" name="known_form" value="พี่แนะนำ"
                        {% if 'พี่แนะนำ' in known_form %}checked{% endif %}>พี่แนะนำ
                    </label>
                  </div>
                  <div class="column is-one-third">
                    <label class="checkbox">
                        <input type="checkbox" name="known_form" value="ติวฟรี"
                        {% if 'ติวฟรี' in known_form %}checked{% endif %}>ติวฟรี
                    </label>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-one-third">
                    <label class="checkbox">
                        <input type="checkbox" name="known_form" value="ชีทในมหาวิทยาลัย"
                        {% if 'ชีทในมหาวิทยาลัย' in known_form %}checked{% endif %}>ชีทในมหาวิทยาลัย
                    </label>
                  </div>
                  <div class="column is-one-third">
                    <label class="checkbox">
                        <input type="text" class="input" name="known_form_other" value="{{origin.known_form_other}}" placeholder="อื่น ๆ">
                    </label>
                  </div>
                </div>
              </p>
              <hr>
              {% if error_message %}
              <p class="control">
                <span class="error">{{error_message}}</span>
              </p>
              {% endif %}
              <p class="control">
                <button type="submit" class="button begr-button is-primary">ดำเนินการ</button>
                <button type="button" class="button begr-button" onclick="window.open('{% url 'frontend:login' %}', '_self')">ยกเลิก</button>
              </p>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </section>
{% endblock %}