{% load static %}

<div class="column is-4">
    <nav class="panel">
        <a class="panel-block {% if selected_menu == 'search' %}is-active{% endif %}"
            href="{% url 'frontend:search_booking' %}">
            <span class="panel-icon">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            ค้นหา/จอง วิชาเรียน
        </a>
        <a class="panel-block {% if selected_menu == 'schedule' %}is-active{% endif %}"
            href="{% url 'frontend:booking_schedule' %}">
            <span class="panel-icon">
                {% if selected_menu == 'schedule' %}
                <img src="{% static 'img/icons/schedule-active.png' %}"/>
                {% else %}
                <img src="{% static 'img/icons/schedule.png' %}"/>
                {% endif %}
            </span>
            ตารางการจอง
            </a>
        <a class="panel-block {% if selected_menu == 'history' %}is-active{% endif %}"
            href="{% url 'frontend:booking_history' %}">
            <span class="panel-icon">
                    {% if selected_menu == 'history' %}
                    <img src="{% static 'img/icons/history-active.png' %}"/>
                    {% else %}
                    <img src="{% static 'img/icons/history.png' %}"/>
                    {% endif %}
            </span>
            ประวัติการเรียน
        </a>
        {% for course in course_member %}
        <div class="panel-heading">
            <div class="indent">
                <div>
                    <strong>{{course.course}}</strong>
                </div>
                <div>
                    <span class="mute">(เหลือเวลา <span class="highlight">{{course.remaining_studying_hours}} ชั่วโมง</span>)</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </nav>
</div>